.project-header{
    width: 100%;
    padding: 10px 20px;
    background-color: #f5f3f4 !important;
    display: flex;
    justify-content: space-between;

    h2 {
        text-transform: capitalize;
        color: #2f3e46;
    }
    div {
        display: flex;
        align-items: center;
        gap: 20px;
    }
}
.create-project-header{
    width: 100%;
    padding: 10px;
    background-color: #f5f3f4 !important;

    h2 {
        text-align: center;
        text-transform: capitalize;
        color: #2f3e46;
    }
}
.project-form{
    margin-top: 20px;
    padding: 20px 40px;
    width: 100%;
    gap: 20px;
    display: grid;
    background-color: #f8f9fa !important;

    .project-input {
        background-color: #edf2fb !important;
    }

    .button-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
    }
}

.delete-confirm{
    width: 100%;
    padding: 20px 40px;

    .delete-card{
        padding: 10px;

        p {
            text-align: center;
            font-weight: bold;
            color: #2f3e46;

            span {
                color : #ef233c;
            }
        }
    }
    .button-container{
        display: flex;
        justify-content: center;
        padding: 0px 40px;
    }
}

.tasks-content {
    margin-top: 10px;

    .status-card {
        padding: 10px;
        text-align: center;
        font-weight: bold;

        &:hover {
            box-shadow: 2px 2px 4px 3px rgba(204,204,204,1);
            cursor: pointer;
        }
    }

    .active {
        border: #172a3a solid 2px;
    }

    .todo {
        background-color: #edf6f9 !important;
        color : #212f45;
    }
    .inprogress {
        background-color: #83c5be !important;
        color: #212f45;
    }
    .completed {
        background-color: #006d77 !important;
        color: #f8f9fa;
    }
    .onhold {
        background-color: #6c757d !important;
        color: #f8f9fa;
    }

    .task-card {
        padding: 10px;
        display: flex;
        justify-content: space-evenly;

        &:hover {
            box-shadow: 2px 2px 4px 2px rgba(204,204,204,1);
            cursor: pointer;
        }
    }

    .table-head {
        background-color: #ced4da !important;
    }

    .status-text-todo {
        color : #06d6a0 !important;
        font-weight: bold !important;
    }
    .status-text-inprogress {
        color: #118ab2 !important;
        font-weight: bold !important;
    }
    .status-text-onhold {
        color: #073b4c !important;
        font-weight: bold !important;
    }
    .status-text-completed {
        color: #70e000 !important;
        font-weight: bold !important;
    }

    .priority-Low {
        color: #06d6a0 !important;
        background-color: #d8f3dc !important;
        font-weight: bold;
        letter-spacing: 1px;
        border-radius: 3px;
        padding: 3px 5px;
    }
    .priority-Medium {
        color: #457b9d !important;
        background-color: #edf2f4 !important;
        font-weight: bold;
        letter-spacing: 1px;
        border-radius: 3px;
        padding: 3px 5px;
    }
    .priority-High {
        color: #c9184a !important;
        background-color: #ffccd5 !important;
        font-weight: bold;
        letter-spacing: 1px;
        border-radius: 3px;
        padding: 3px 5px;
    }
}

.task-detail{

    padding: 20px 2px;

    .task-header {
        width: 100%;
        padding: 10px 20px;
        background-color: #f5f3f4 !important;
        display: flex;
        justify-content: space-between;

        h4 {
            text-transform: capitalize;
            color: #2f3e46;
        }
        div {
            display: flex;
            align-items: center;
            gap: 20px;
        }
    }

    .task-body {
        padding: 10px;
        display: flex;
        
        .task-field{
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            p{
                text-transform: capitalize;
                color: #2f3e46;
                align-self: center;
            }
        }

        .button-container{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 20px;
        }
    }

}
.button-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}