.project-header{
    width: 100%;
    padding: 10px;
    background-color: #f5f3f4 !important;

    h2 {
        text-align: center;
        text-transform: capitalize;
        color: #2f3e46;
    }
}