.sidebar {
    // width: 70px;
    height: 93.7vh;
    box-shadow: 1px 0px 5px rgb(131, 131, 131);
    // padding: 15px;
    background: #f6fff8;

    .MuiSnackbar-root > .MuiPaper-root > .MuiAlert-icon > .MuiSvgIcon-root {
        font-size: 24px;
    }

    .MuiSnackbar-root > .MuiPaper-root > .MuiAlert-action > .MuiIconButton-root > .MuiIconButton-label > .MuiSvgIcon-root {
        font-size: 24px;
    }

    a {
        text-decoration: none;
        color: #000000;
    }

    .sidebarItem {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding : 5px;
    }

    .sidebarItem:hover {
        background-color: #edf2f4;
    }

    .sidebarItem > img {
        height: 23px;
        margin: 5px;
    }

    .sidebarItem > svg {
        height: 23px;
        margin: 5px;
    }

    .sidebarItem > p {
        font-size: 12px;
        text-align: center;
        font-weight: bold;
    }

    .active {
        border-left: 4px solid #6264A7;
    }

    .auth__button {
        border: 0;
        width: 100%;
        padding: 0;
    }
}

.sidebar_grad {
    background: #8e9eab;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #eef2f3, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}